body{
  background-color: #f4b200;
}
#test{
  color: rgb(16, 31, 236);
  text-shadow: 2px 2px 2px #9c9a9a;
}
#text-1{
  color: white;
  text-shadow: 1px 1px 1px black, 0 0 2px rgb(104, 104, 243), 0 0 2px rgb(150, 150, 240);
}
#text-2{
  color: rgb(0, 0, 0);
  text-shadow: 1px 1px 2px black, 0 0 5px rgb(246, 246, 250), 0 0 5px rgb(241, 241, 247);
}
.post{
    background-image: url(pictures/man.jpg);
    background-size: cover;
    width: 100%;
    height: 800px;
    
}
.btn{
    width: 250px;
}
@media(max-width : 557px){
    .post{
        width: 100%;
        height: 350px;
    
    }
    .forms input{
       margin-right: 100px;
    }
    .forms button{
        margin-right: 100px;
    }

    }
/*******************Services start here**************/

.box {
    margin-top: 5px;
    background-color: #f1f2f3;
  }
.img-box {
  position: relative;
}
img {
  width: 100%;  
}

.offer_date {
  position: absolute;
  left:15px;
  top: 15px;
  padding: 10px 15px;
  font-size: 38px;
  color: #ffffff;
}

.offer_date-3 {
  position: absolute;
  bottom: 3px;
  left: 15px;
  padding: 10px 15px;
  color: #ffffff;
}
/*******************Services end here**************/
.stats {
    background: url(pictures/banner.jpg) no-repeat 0px 0px;
    background-size: cover;
    position: relative;
}

/*-- Tour Gallery Start Here--*/
section#gallery {
  position: relative;
}

.gal-img {
  padding: 10px;
}

.gal-img img {
  border-radius: 4px 4px 0px 0px;
  transition: 0.5s all;
}

.gal-img:hover.gal-img img {
  box-shadow: 0 20px 40px -10px rgba(0, 0, 0, .3);
}

.gal-img a span {
  font-size: 0.9em;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 400;
  color: #fff;
  text-shadow: 0 0 0.5px rgba(58, 57, 57, 0.25);
  background: #f4b200;
  display: block;
  padding: 1em;
  margin-bottom: 15px;
}
/*-- Tour Gallery Start Here--*/

/*-- Pop-up Start Here  --*/

.pop-overlay {
  position: absolute;
  top: 0px;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 0ms;
  visibility: hidden;
  opacity: 0;
  z-index: 999;
}

.pop-overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  margin: 8em auto;
  padding: 3em 1em;
}

.popup p {
  font-size: 15px;
  color: #666;
  letter-spacing: .5px;
  line-height: 30px;
}

.popup h2 {
  margin-top: 0;
  color: #fff;

}

.popup .close {
  position: absolute;
  top: 5px;
  right: 15px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #000;
}

.popup .close:hover {
  color: #30c39e;
}


/*-- Pop-up End Here  --*/


/* Tour Prices Start Here*/
.destinations {
  background: #EBEDEF;
}
.destinations-grids {
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.destinations-grids .caption h4 {
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  letter-spacing: 1px;
}
h4.destination {
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 3px;
}
.rating ul li {
  display: inline-block;
  font-size: 1em;
  color: #fff;
 
}
.rating ul li span.fa {
  color: #fff;
  font-size: 13px;
}

.rating {
  background: #f4b200;
  position: absolute;
  right: 1%;
  top: 1%;
  padding: 0px 5px 5px 5px;
}
.caption a {
  font-size: 15px;
  background: none;
  border: 1px solid #ccc;
  padding: 12px 20px;
  letter-spacing: 1px;
  color: #ccc;
  margin-top: 20px;
  display: inline-block;
}

.destinations-info {
  position: absolute;
  bottom: -227px;
  margin: 0;
  background: rgba(1, 17, 68, 0.74);
  padding: 30px 0px 10px;
  transition: .5s all;
  left: 15px;
  right:15px;
  text-align: center;
}

.destinations-grids:hover div.destinations-info {
  bottom: 0;
}

.caption {
  padding: 0px;
}
/* Tour Prices Start Here*/


/*-- Client Reviews Statr Here --*/

.testimonials {
  background:#f4b200;
}

.test-info {
   text-align: center;
}

.test-info h3 {
   font-size: 1.5em;
   color: #fff;
   font-weight: 500;

}

.test-img img {
   border-radius: 40%;
   background: hsla(21, 60%, 94%, 0.33);
   padding: 4px;
   width: 20%;
}
.test-info p {
  background:#011144;
  padding: 3em;
  font-size: 0.95em;
  border-radius: 4px;
  position: relative;
}

.test-info p span {
  font-size: 1.1em;
  color: #d3d1d3;
}
/*-- Client Reviews End Here --*/

/******----- Contact Start here--****/
.adress-icon span.fa {
  color:#f4b200;
  font-size: 2em;
  vertical-align: middle;
}
.contact-forms input, .contact-forms textarea, .contact-forms select {
  font-size: 15px;
  padding: 1em 1em;
  background: #f6f6f6;
  letter-spacing: 1px;
  border-radius: 3px;
  outline: none;
}


.contact-left-form {
  padding: 3em;
  background: #fff;
  box-shadow: 0 0 50px rgba(0, 0, 0, .1);
}







/*-- move top --*/

.move-top {
  position: relative;
}

a.move-top {
  text-align: center;
  position: absolute;
  right: 1%;
  bottom: 0%;
}

a.move-top span{
  color: #fff;
  width: 36px;
  height: 36px;
  border: transparent;
  line-height: 2em;
  background: #333;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -o-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
}

